<div>
    <%# datetime_field_tag :fecha %>
    <div class="comp-fecha fecha-inicio">
        <label for="fecha-inicio">Fecha #</label>
        <input type="date" name="fecha-inicio" id="fecha-inicio">
    </div>
    <div>
        <div>
            <label for="hora-inicio">Inicia a las:</label>
            <input type="time" name="hora-inicio" id="hora-inicio">
        </div>
        <div>
            <label for="hora-fin">Termina a las:</label>
            <input type="time" name="hora-fin" id="hora-fin">
        </div>
    </div>
</div>
